<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 01</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styleDesafio.css">
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center logo">
                <h1 v-if="loading == false">GitHub Repos</h1>
                <h1 v-else>Carregando</h1>
                <input :class="{'border-danger': verificar, 'border-danger': !existe}" type="text" class="form-control my-2 input" v-model="novoRepos" ref="novoRepos"
                placeholder="Seu repositorio">
                <button @click="addRepos" type="button" class="btn botao" data-toggle="button"
                aria-pressed="false">+</button>
                <div class="col-10">
                    <div v-if="existe == true"></div>
                    <div v-else><h5 class=" letra-error alert alert-danger mt-3">Repositorio nao encontrado</h5></div>
                    <div v-if="verificar == false"></div>
                    <div v-else><h5 class=" letra-error alert alert-danger mt-3">Digite um repositorio valido</h5></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div v-for="repo in Repos" class="mt-3 col-3 ">
                        <div class="card mx-1 p-2 text-center">
                            <p><img :src="repo.owner.avatar_url" width="200px" height="200px"/></p>
                            <div class="text-left">
                                <h5 class="mt-1">Name: {{ repo.name }}</h5>
                                <p class="mt-1">Forks: {{ repo.forks }}</p>
                                <p>Issues: {{ repo.open_issues }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                const app = new Vue({
                    el: "#app",
                    data: {
                        Titulo: 'Desafio merda',
                        novoRepos: '',
                        Repos: [],
                        loading: false,
                        verificar: false,
                        existe: true,
                    },
                    methods: {
                        addRepos: function () {
                            if(this.verificar == false){
                                this.loading = true
                                axios.get(`https://api.github.com/repos/${this.novoRepos}`)
                                    .then(response => {
                                        this.Repos=[response.data, ...this.Repos]
                                        this.novoRepos = ''
                                        this.$refs.novoRepos.focus()
                                        this.loading = false
                                    })
                                    .catch(err => {
                                        this.existe = false
                                        this.loading = false
                                    })
                            }
                        },
                    },
                    watch: {
                        novoRepos: function(){
                            console.log(this.novoRepos)
                            if(this.novoRepos.includes('/') || this.novoRepos === ''){
                                this.verificar = false
                            } 
                            else{
                                this.verificar = true

                            }
                        },
                        existe: function(){
                            setTimeout(() => {
                                this.existe = true
                            }, 2000);
                        },
                    }
                })








            </script>
</body>

</html>


